<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/">Home</a>
    <a class="breadcrumb-item" href="/productos">Productos</a>
</nav>


{{!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    {{#each productos}}
    <tr>
        <td>{{nombre}}
        <td>{{descripcion}}</td>
        <td>$ {{precio}}</td>
        <td>{{stock}}</td>
    </tr>
    {{/each}}
  </tbody>
</table> --}}
<div class="container">
    <div class="card-columns">
    {{#each productos}}
        {{!-- <div class="col-md-4 col-6"> --}}
            <a href="/productos/{{id}}" class=" text-white">
            <div class="card bg-dark">
                <img class="card-img" src="images/{{imagen}}" alt="Card image cap">
                <div class="card-body text-center">
                    <div class="my-2 text-left">
                      <h4 class="card-title">{{nombre}}</h4>
                      {{!-- <h5 class="h6 text-right">cantidad: {{stock}}</h5> --}}
                      <p class="card-text">{{descripcion}}</p>
                      {{!-- <span class="h3">$ {{precio}}</span> --}}
                    </div>
                    <a href="/productos/{{id}}" class="btn btn-info">Ver más</a>
                </div>
            </div>
            </a>
        {{!-- </div> --}}
    {{/each}}
    </div>
</div>
